/* ************
Global CSS for utkarshmehta.me
** Author: Utkarsh Mehta
************ */

/* Mobile first design */

* {
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
    text-transform: lowercase;
    text-align: right;
}

*:focus {
    outline: none;
}

.container {
    padding: 5px;
    margin-bottom: 55px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.h-25vh {
    height: 25vh;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

a {
    color: inherit;
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

img.circle {
    border-radius: 50%;
}

nav {
    background-color: transparent;
    color: white;
    height: 10vh;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 80;
    /*navbar*/
}

nav.dark {
    color: black;
}

div.screen-menu-items {
    display: none;
}

nav ul, div#navbar-menu-items ul {
    list-style: none;
}

div#navbar-menu-items {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    /*nav menu items*/
    color: #990011;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding-top: 50px;
    padding-right: 10px;
}

div#navbar-menu-items>ul>* {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    font-size: 25px;
}

div#navbar-menu-items details :not(summary) {
    margin-top: 15px;
    margin-bottom: 15px;
}

div#navbar-menu-items details>ul>li {
    font-size: 0.8em;
}

div#navbar-menu-items sub {
    font-size: 15px;
}

div.dropdown-content {
    padding: 5px 10px;
    background-color: #606060;
    color: #D6ED17;
    border-radius: 10px;
    display: none;
    top: 15px;
    right: 0;
    z-index: 90;
    min-width: 160px;
}

div.dropdown-content>a {
    margin-bottom: 5px;
}

div.dropdown:hover div.dropdown-content {
    display: flex;
}

label.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 40px;
    letter-spacing: 10px;
    color: #990011;
}

#title {
    font-size: 10vw;
}

#subtitle {
    color: gray;
}

span#contact-me-action-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #101820;
    width: 60px;
    height: 60px;
    background: #2BAE66;
    border-radius: 50%;
    z-index: 50;
    /*contact button*/
}

span#contact-me-action-button.index {
    padding: 0 20px;
    width: auto;
    border-radius: 30px;
}

span#contact-me-action-button>i {
    font-size: 1.5em;
}

span#contact-me-action-button.index>i {
    margin-right: 10px;
}

div#contact-me-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 60;
    /*contact details*/
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

div#contact-me-details label.close-icon {
    color: white;
    top: 10vh;
}

div#contact-me-details>div {
    background-color: #FFD662;
    padding: 5vh 4vw;
}

div#contact-me-details>div>div.flex.row {
    padding: 2vh 0;
}

div#contact-me-details input.contact-me {
    padding: 15px;
    border: 1px solid #bdbdbd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #bdbdbd;
    margin-left: 15px;
    cursor: not-allowed;
}

button.copy-button {
    padding: 15px;
    border: none;
    background-color: #F2EDD7;
    color: #755139;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

div#pre-footer-spacing {
    margin-bottom: 51px;
}

.footer {
    border-top: 1px solid gray;
    margin-top: 5px;
    padding: 5px 10px;
    bottom: 0;
    background-color: white;
}

.footer>a {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 3px;
}

.footer>a:hover {
    text-decoration: none;
}

#linkedin {
    color: white;
    background-color: #0e76a8;
}

#angellist, #github {
    color: black;
    background-color: #c8c8c8;
}

.footer>a#others {
    left: 10px;
}

@media only screen and (min-device-width: 768px) {
    p {
        font-size: 2vw;
    }
    .w-md-50 {
        width: 50%;
    }
    .w-md-33 {
        width: 33.33%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    div#navbar-menu-items {
        right: 50%;
    }
    i.fa.fa-bars {
        font-size: 20px;
    }
    #title {
        font-size: 8vw;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    i.fa.fa-bars {
        font-size: 25px;
    }
    #title {
        font-size: 7vw;
    }
}

@media screen and (min-device-width: 1200px) {
    p {
        font-size: 1.2vw;
    }
    nav>i {
        display: none !important;
    }
    nav>div.screen-menu-items {
        display: flex
    }
    .w-lg-25 {
        width: 25%;
    }
    .w-lg-50 {
        width: 50%;
    }
    nav.distinct {
        border-bottom: 1px solid gray;
    }
    #title {
        font-size: 5vw;
    }
    #linkedin, #angellist, #github {
        color: black;
        background: white;
    }
    #linkedin:hover {
        color: white;
        background-color: #0e76a8;
    }
    #angellist:hover, #github:hover {
        color: black;
        background-color: #c8c8c8;
    }
}