/* ************
CSS for utkarshmehta.me
** Author: Utkarsh Mehta
************ */

/* Mobile first design */

div.bodySection {
    position: relative;
}

div.bodySection>div {
    height: 50vh;
}

div#hi {
    background-color: #292826;
    color: #F9D342;
    font-size: 40vw;
}

div#itsme {
    background-color: #F9D342;
    color: #292826;
    font-size: 30vw;
}

@media screen and (min-device-width: 1200px) {
    div.bodySection {
        flex-direction: row;
    }
    div.bodySection>div {
        height: 100vh;
    }
    div#hi {
        font-size: 15vw;
    }
    div#itsme {
        font-size: 15vw;
    }
}