h1#application-created {
    padding-top: 10vh;
    margin-right: 5px;
}

.single-app {
    width: 50%;
    min-height: 100px;
    padding: 5px;
}

.single-app>* {
    text-align: center;
}

.light {
    color: lightgray;
}

.first {
    background-color: #195190;
}

.second {
    background-color: #A2A2A1;
}

.third {
    background-color: #F2AA4C;
}

.fourth {
    background-color: #97BC62;
}

.others-nda {
    background-color: darkslategrey;
}

@media only screen and (min-device-width: 768px) {
    .single-app {
        width: 33.33%;
    }
}

@media only screen and (min-device-width: 1200px) {
    .single-app {
        width: 20%;
        margin: 5px 20px;
        box-shadow: 1px 1px 5px 3px lightgray;
        border-radius: 5px;
    }
    .single-app:hover {
        box-shadow: none;
    }
}