h3#header {
    color: gray;
    text-decoration: underline;
    margin-top: 10vh;
    text-align: left;
}

h2#title {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.banner {
    height: 40vh;
    margin-left: -5px;
    margin-right: -5px;
    margin-left: -5px;
    background-size: contain;
    background-position: center;
}

div#itk-applab.banner {
    background-image: url(../assets/images/mywork/itk-applab/banner-sm.png);
}

p, ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul>p, ol>p {
    margin: 0;
}

strong {
    background-color: rgba(255, 255, 0, .2);
}

label.heading {
    text-decoration: underline;
    font-weight: bold;
}

label.heading::after {
    content: '\a';
    white-space: pre;
}

@media screen and (min-device-width: 468px) and (max-device-width: 768px) {
    div#itk-applab.banner {
        background-image: url(../assets/images/mywork/itk-applab/banner-md.png);
    }
}

@media only screen and (min-device-width: 768px) {
    h3#subtitle, h3#header {
        font-size: 2.5vw;
    }
    label.heading {
        font-size: 2.3vw;
    }
    li {
        font-size: 2vw;
    }
}

@media screen and (min-device-width: 1200px) {
    h3#subtitle, h3#header {
        font-size: 1.5vw;
    }
    label.heading {
        font-size: 1.3vw;
    }
    div#itk-applab.banner {
        background-image: url(../assets/images/mywork/itk-applab/banner-lg.png);
    }
    li {
        font-size: 1.2vw;
    }
}