.container {
    padding-top: 10vh;
}

.heading {
    font-size: 8vw;
    position: sticky;
    top: 10vh;
    background-color: white;
}

.work {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 4px;
    padding: 10px 25px;
    margin: 10px;
}

.work>div>* {
    margin: 10px 0;
}

.past>* {
    margin: 20px 0;
}

.work>div>h3, .past>h3 {
    font-size: 5vw;
    text-decoration: underline;
}

.work>div>h4, .past>h4, .past>h5 {
    font-size: 4vw;
}

.work>img {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    float: right;
    object-fit: contain;
}

.past>h5::before {
    content: '[';
}

.past>h5::after {
    content: ']';
}

@media only screen and (min-device-width: 768px) {
    .heading {
        font-size: 5vw;
    }
    .work {
        width: 47.3%;
    }
    .work>div>h3, .past>h3 {
        font-size: 3vw;
    }
    .work>div>h4, .past>h4, .past>h5 {
        font-size: 2.5vw;
    }
    .work>img {
        width: 15vw;
        height: 15vw;
    }
}

@media only screen and (min-device-width: 1200px) {
    .heading {
        font-size: 2vw;
    }
    .work {
        width: 48.4%;
    }
    .work:hover {
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
    .past {
        width: 23.4%;
    }
    .work>div>h3, .past>h3 {
        font-size: 1.5vw;
    }
    .work>div>h4, .past>h4, .past>h5 {
        font-size: 1vw;
    }
    .work>img {
        width: 10vw;
        height: 10vw;
    }
}