.container {
    padding-top: 10vh;
}

.heading {
    font-size: 10vw;
}

.work {
    box-shadow: 0px 0px 10px 2px grey;
    border-radius: 4px;
    padding: 10px 25px;
    margin: 10px;
}

.work>div>h3 {
    font-size: 5vw;
    text-decoration: underline;
}

.work>div>h4 {
    font-size: 4vw;
}

.work>img {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    float: right;
    object-fit: cover;
}

.past>h5 {
    font-size: 3.2vw;
}

.past>h5::before {
    content: '[';
}

.past>h5::after {
    content: ']';
}